.ipool-file-type {
    &.ipool-file-type-sm {
        width: 50px;
        height: 70px;

        .file-icon-text {
            font-size: 12px;
        }
    }

    &.ipool-file-type-lg {
        width: 140px;
        height: 180px;
    }

    width: 110px;
    height: 130px;
    background-color: #33b5e5;
    position: relative;
    margin: 10px;
    display: inline-block;
    border-radius: 3px;
    cursor: pointer;

    &:before {
        content: "";
        position: absolute;
        top: -1px;
        right: -1px;
        border-right: 20px solid transparent;
        border-bottom: 20px solid #178ab4;
        z-index: 5;
    }

    &:after {
        content: "";
        position: absolute;
        top: -1px;
        right: -1px;
        border-left: 20px solid transparent;
        border-top: 20px solid #212121;
    }

    &:after, &:before, & {
        transition: all .3s;
    }

    &:hover {
        .file-icon-text {
            transition: font-size .3s;
            font-size: 20px;
        }

        &:before, &:after {
            transition: all .3s;
            border-width: 0;
        }

    }

    i {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .file-icon-text {
        transition: font-size .3s;
        position: absolute;
        left: -12px;
        bottom: 10px;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .ipool-file-text {
        position: absolute;
        bottom: -24px;
        left: 0;
        font-size: 14px;
        font-weight: bold;
    }
}

.ipool-file-wrapper {
    padding: 6px;
    padding-bottom: 8px;
    margin: 10px;
    border: 1px solid #fff;
    position: relative;

    &:hover {
        .file-actions {
            display: block !important;
        }
    }

    .file-actions {
        display: none;
        position: absolute;
        right: 5px;
        top: 5px;
        z-index: 999;
        padding: 0 !important;
        height: 28px;
        border-radius: 6px;

        &:hover {
            ~ .ipool-file-type {
                opacity: .7;
            }
        }

        svg {
            margin-right: 0;
        }
    }

    .fpool-file-locked {
        position: absolute;
        left: 0;
        top: 0;
        padding: 0 14px 6px 6px;
        z-index: 999;
        border-bottom-right-radius: 26px;

        svg {
            width: 18px;
            height: 18px;
        }
    }

    &:hover {
        .ipool-file-type {
            .file-icon-text {
                transition: font-size .3s;
                font-size: 20px;
            }

            &:before, &:after {
                transition: all .3s;
                border-width: 0 !important;
            }
        }
    }
}

.ipool-file-avi, .ipool-file-mov, .ipool-file-mp4, .ipool-file-ogg, .ipool-file-wmv, .ipool-file-webm {
    background-color: rgba(208, 145, 154, .7);

    .file-icon-text > div {
        background-color: rgba(208, 145, 154, 1);
        border-radius: 6px;
        padding: 6px 14px;
    }

    &:before {
        border-bottom-color: rgba(208, 145, 154, 1);
    }
}

.ipool-file-mp3, .ipool-file-wav {
    background-color: rgba(212, 110, 173, 0.8);

    .file-icon-text > div {
        background-color: rgba(212, 110, 173, 1);
        border-radius: 6px;
        padding: 6px 14px;
    }

    &:before {
        border-bottom-color: rgba(212, 110, 173, 1);
    }
}

.ipool-file-doc, .ipool-file-docx, .ipool-file-xls, .ipool-file-xlsx, .ipool-file-ppt, .ipool-file-pptx, .ipool-file-pdf, .ipool-file-odt, .ipool-file-ods, .ipool-file-odp, .ipool-file-rtf {
    background-color: rgba(84, 203, 237, 0.8);

    .file-icon-text > div {
        background-color: rgba(84, 203, 237, 1);
        border-radius: 6px;
        padding: 6px 14px;
    }

    &:before {
        border-bottom-color: rgba(84, 203, 237, 1);
    }
}

.ipool-file-psd, .ipool-file-ai, .ipool-file-jpg, .ipool-file-png, .ipool-file-gif, .ipool-file-tiff, .ipool-file-ico, .ipool-file-svg, .ipool-file-webp {
    background-color: rgba(143, 205, 190, 0.8);

    .file-icon-text > div {
        background-color: rgba(143, 205, 190, 1);
        border-radius: 6px;
        padding: 6px 14px;
    }

    &:before {
        border-bottom-color: rgba(143, 205, 190, 1);
    }
}

.ipool-file-rar, .ipool-file-csv, .ipool-file-json, .ipool-file-xml, .ipool-file-html, .ipool-file-zip, .ipool-file-txt {
    background-color: rgba(244, 119, 101, 0.8);

    .file-icon-text > div {
        background-color: rgba(244, 119, 101, 1);
        border-radius: 6px;
        padding: 6px 14px;
    }

    &:before {
        border-bottom-color: rgba(244, 119, 101, 1);
    }
}
